Repository bird-house/birdhouse-deploy, pull requests merged in 2021-12, with the labels that each got.

#224 Magpie integrate new feats
  .bumpversion.cfg
  CHANGES.md
  README.rst
  birdhouse/config/magpie/magpie.ini.template
  birdhouse/config/twitcher/twitcher.ini.template
  birdhouse/default.env
  birdhouse/env.local.example
  birdhouse/pavics-compose.sh
Labels: documentation, ci

#227 fix broken readthedocs build
  docs/requirements.txt
Labels: documentation, ci

#225 bump weaver 4.5.0 and relevant mongodb changes
  .bumpversion.cfg
  CHANGES.md
  README.rst
  birdhouse/components/weaver/config/weaver/weaver.ini.template
  birdhouse/components/weaver/default.env
  birdhouse/components/weaver/docker-compose-extra.yml
Labels: documentation, enhancement, ci

#228 thredds: update for Log4j Vulnerability CVE-2021-44228
  .bumpversion.cfg
  CHANGES.md
  README.rst
  birdhouse/default.env
Labels: documentation, ci, security

#230 Bump version: 1.18.2 → 1.18.3
  .bumpversion.cfg
  CHANGES.md
  README.rst
Labels: documentation, ci
