Repository bird-house/birdhouse-deploy, pull requests merged in 2022-08, with the labels that each got.

#252 Remove m2r2 in favour of sphinx-mdinclude
  docs/requirements.txt
  docs/source/conf.py
Labels: documentation, dependencies

#253 adjustments to update weaver 4.20.0 by default
  .bumpversion.cfg
  CHANGES.md
  README.rst
  birdhouse/components/weaver/celery-healthcheck
  birdhouse/components/weaver/config/weaver/weaver.ini.template
  birdhouse/components/weaver/default.env
Labels: documentation, enhancement, ci, security

#233 GeoServer: enable metadata-plugin for modifying layer metadata, including bulk modifications
  .bumpversion.cfg
  CHANGES.md
  README.rst
  Vagrantfile
  birdhouse/config/geoserver/Dockerfile
  birdhouse/config/geoserver/entrypointwrapper
  birdhouse/default.env
  vagrant_variables.yml.example
Labels: documentation, ci

#257 fix bumpversion not updating server config version reference
  .bumpversion.cfg
  CHANGES.md
  README.rst
  birdhouse/config/canarie-api/docker_configuration.py.template
Labels: documentation, ci

#254 canarie-api: fix unable to verify LetsEncrypt SSL certs
  .bumpversion.cfg
  CHANGES.md
  README.rst
  birdhouse/config/canarie-api/docker_configuration.py.template
  birdhouse/docker-compose.yml
Labels: documentation, ci

#256 add cowbird service to the stack
  .bumpversion.cfg
  CHANGES.md
  README.rst
  birdhouse/components/README.rst
  birdhouse/components/cowbird/.gitignore
  birdhouse/components/cowbird/conf.extra-service.d/cowbird.conf.template
  birdhouse/components/cowbird/config/cowbird/celeryconfig.py.template
  birdhouse/components/cowbird/config/cowbird/config.yml.template
  birdhouse/components/cowbird/config/cowbird/cowbird.ini.template
  birdhouse/components/cowbird/config/magpie/config.yml.template
  birdhouse/components/cowbird/default.env
  birdhouse/components/cowbird/docker-compose-extra.yml
  birdhouse/config/canarie-api/docker_configuration.py.template
  birdhouse/config/proxy/conf.d/all-services.include.template
  birdhouse/env.local.example
  birdhouse/pavics-compose.sh
Labels: documentation, enhancement, ci

#259 fix invalid `canarie-api-full-monitoring` endpoints adding double `/` when substituting variables
  .bumpversion.cfg
  CHANGES.md
  README.rst
  birdhouse/config/canarie-api/docker_configuration.py.template
  birdhouse/optional-components/canarie-api-full-monitoring/canarie_api_full_monitoring.py.template
  birdhouse/optional-components/emu/emu_canarie_api_monitoring.py.template
  birdhouse/optional-components/generic_bird/generic_bird_canarie_api_monitoring.py.template
Labels: documentation, ci

#242 Add secure Geoserver access
  .bumpversion.cfg
  CHANGES.md
  README.rst
  birdhouse/config/canarie-api/docker_configuration.py.template
  birdhouse/config/proxy/conf.d/all-services.include.template
  birdhouse/env.local.example
  birdhouse/optional-components/README.rst
  birdhouse/optional-components/test-geoserver-secured-access/config/magpie/.gitignore
  birdhouse/optional-components/test-geoserver-secured-access/config/magpie/test-geoserver-permissions.cfg.template
  birdhouse/optional-components/test-geoserver-secured-access/config/magpie/test-geoserver-providers.cfg.template
  birdhouse/optional-components/test-geoserver-secured-access/config/proxy/conf.d/.gitignore
  birdhouse/optional-components/test-geoserver-secured-access/config/proxy/conf.d/test-geoserver-secured.conf.template
  birdhouse/optional-components/test-geoserver-secured-access/docker-compose-extra.yml
Labels: documentation, ci
