Repository bird-house/birdhouse-deploy, pull requests merged in 2023-06, with the labels that each got.

#332 New Jupyter env, Raven and notebook autodeploy fix
  .bumpversion.cfg
  CHANGES.md
  Makefile
  README.rst
  RELEASE.txt
  birdhouse/components/scheduler/config.yml.template
  birdhouse/components/scheduler/default.env
  birdhouse/config/canarie-api/docker_configuration.py.template
  birdhouse/config/jupyterhub/default.env
  birdhouse/config/raven/default.env
  birdhouse/deployment/trigger-deploy-notebook
  birdhouse/read-configs.include.sh
  docs/source/conf.py
Labels: documentation, ci/operations, ci/deployment, component/jupyterhub, feature/WPS

#343 Autodeploy: optionally fix file permissions
  .bumpversion.cfg
  CHANGES.md
  Makefile
  README.rst
  RELEASE.txt
  birdhouse/components/scheduler/config.yml.template
  birdhouse/components/scheduler/docker-compose-extra.yml
  birdhouse/config/canarie-api/docker_configuration.py.template
  birdhouse/deployment/deploy.sh
  birdhouse/env.local.example
  docs/source/conf.py
Labels: documentation, ci/operations, ci/deployment

#329 Add /version and /service endpoints
  .bumpversion.cfg
  CHANGES.md
  Makefile
  README.rst
  RELEASE.txt
  birdhouse/README.rst
  birdhouse/components/weaver/.gitignore
  birdhouse/components/weaver/service-config.json.template
  birdhouse/config/canarie-api/docker_configuration.py.template
  birdhouse/config/finch/.gitignore
  birdhouse/config/finch/service-config.json.template
  birdhouse/config/flyingpigeon/.gitignore
  birdhouse/config/flyingpigeon/service-config.json.template
  birdhouse/config/geoserver/.gitignore
  birdhouse/config/geoserver/service-config.json.template
  birdhouse/config/hummingbird/.gitignore
  birdhouse/config/hummingbird/service-config.json.template
  birdhouse/config/jupyterhub/.gitignore
  birdhouse/config/jupyterhub/service-config.json.template
  birdhouse/config/proxy/.gitignore
  birdhouse/config/proxy/conf.d/all-services.include.template
  birdhouse/config/proxy/default.env
  birdhouse/config/proxy/docker-compose-extra.yml
  birdhouse/config/proxy/pre-docker-compose-up
  birdhouse/config/raven/.gitignore
  birdhouse/config/raven/service-config.json.template
  birdhouse/config/thredds/.gitignore
  birdhouse/config/thredds/service-config.json.template
  birdhouse/pavics-compose.sh
  birdhouse/scripts/get-services-json.include.sh
  birdhouse/scripts/get-version-json.include.sh
  docs/source/conf.py
  tests/requirements.txt
  tests/test_deployment.py
Labels: documentation, ci/operations, ci/deployment, project/DACCS, component/THREDDS, component/weaver, component/jupyterhub, component/geoserver, feature/node-registry, ci/tests, feature/WPS

#345 Document autodeploy testing procedure and fix `COMPOSE_DIR` detection in `read-configs.include.sh`
  .bumpversion.cfg
  CHANGES.md
  Makefile
  README.rst
  RELEASE.txt
  birdhouse/components/README.rst
  birdhouse/config/canarie-api/docker_configuration.py.template
  birdhouse/read-configs.include.sh
  docs/source/conf.py
  environment-dev.yml
  tests/test_read_configs_include.py
Labels: documentation, ci/operations, ci/deployment, ci/tests
