Repository bird-house/birdhouse-deploy, pull requests merged in 2023-11, with the labels that each got.

#348 Geoserver: protect web interface and ows routes behind magpie/twitcher
  .bumpversion.cfg
  CHANGES.md
  Makefile
  README.rst
  RELEASE.txt
  birdhouse/config/canarie-api/docker_configuration.py.template
  birdhouse/config/geoserver/.gitignore
  birdhouse/config/geoserver/config/magpie/providers.cfg
  birdhouse/config/geoserver/config/magpie/providers.cfg.template
  birdhouse/config/geoserver/config/proxy/conf.extra-service.d/geoserver.conf.template
  birdhouse/config/geoserver/default.env
  birdhouse/config/magpie/default.env
  birdhouse/env.local.example
  birdhouse/optional-components/all-public-access/config/geoserver/docker-compose-extra.yml
  birdhouse/optional-components/all-public-access/config/geoserver/permissions.cfg
  docs/source/conf.py
Labels: documentation, ci/operations, component/magpie, component/geoserver, ci/tests

#397 optional-components/all-public-access: remove GeoServer route permissions
  .bumpversion.cfg
  CHANGES.md
  Makefile
  README.rst
  RELEASE.txt
  birdhouse/config/canarie-api/docker_configuration.py.template
  birdhouse/optional-components/all-public-access/config/geoserver/permissions.cfg
  docs/source/conf.py
Labels: documentation, ci/operations, component/geoserver

#401 adjust public WPS outputs sub-dir for weaver
  .bumpversion.cfg
  CHANGES.md
  Makefile
  README.rst
  RELEASE.txt
  birdhouse/components/cowbird/config/cowbird/config.yml.template
  birdhouse/components/cowbird/config/jupyterhub/docker-compose-extra.yml
  birdhouse/components/cowbird/default.env
  birdhouse/components/cowbird/docker-compose-extra.yml
  birdhouse/config/canarie-api/docker_configuration.py.template
  docs/source/conf.py
Labels: documentation, ci/operations, component/cowbird, component/jupyterhub

#359 Flexible locations for data served by thredds
  .bumpversion.cfg
  CHANGES.md
  Makefile
  README.rst
  RELEASE.txt
  birdhouse/components/cowbird/config/cowbird/config.yml.template
  birdhouse/components/weaver/config/proxy/docker-compose-extra.yml
  birdhouse/config/canarie-api/docker_configuration.py.template
  birdhouse/config/thredds/catalog.xml.template
  birdhouse/config/thredds/config/canarie-api/canarie_api_monitoring.py.template
  birdhouse/config/thredds/default.env
  birdhouse/config/thredds/docker-compose-extra.yml
  birdhouse/config/thredds/entrypointwrapper
  birdhouse/config/wps_outputs-volume/config/proxy/conf.extra-service.d/wps_outputs-volume.conf.template
  birdhouse/config/wps_outputs-volume/config/proxy/docker-compose-extra.yml
  birdhouse/deprecated-components/catalog/catalog.cfg.template
  birdhouse/deprecated-components/malleefowl/custom.cfg.template
  birdhouse/deprecated-components/malleefowl/docker-compose-extra.yml
  birdhouse/deprecated-components/ncwms2/config/wps_outputs-volume/docker-compose-extra.yml
  birdhouse/deprecated-components/ncwms2/custom.cfg.template
  birdhouse/deprecated-components/ncwms2/docker-compose-extra.yml
  birdhouse/deprecated-components/solr/config/canarie-api/canarie_api_monitoring.py.template
  birdhouse/env.local.example
  birdhouse/optional-components/secure-thredds/config/magpie/permissions.cfg
  birdhouse/optional-components/testthredds/docker-compose-extra.yml
  birdhouse/optional-components/testthredds/entrypointwrapper
  birdhouse/scripts/bootstrap-testdata
  birdhouse/scripts/deprecated/trigger-pavicscrawler
  birdhouse/templates/docker-compose.override.local_https_thredds.yml
  birdhouse/templates/docker-compose.override.local_https_wps.yml
  birdhouse/templates/docker-compose.override.public_thredds.yml
  docs/source/conf.py
Labels: documentation, ci/operations, ci/deployment, component/THREDDS, component/magpie, component/weaver, component/cowbird, ci/tests, feature/WPS

#396 limit Magpie usernames
  .bumpversion.cfg
  CHANGES.md
  Makefile
  README.rst
  RELEASE.txt
  birdhouse/config/canarie-api/docker_configuration.py.template
  birdhouse/config/jupyterhub/jupyterhub_config.py.template
  birdhouse/config/magpie/default.env
  birdhouse/config/magpie/magpie.ini.template
  docs/source/conf.py
Labels: documentation, ci/operations, component/magpie, component/jupyterhub, ci/tests

#402 Jupyterhub: periodically check whether the logged-in user still have permission to access
  .bumpversion.cfg
  CHANGES.md
  Makefile
  README.rst
  RELEASE.txt
  birdhouse/config/canarie-api/docker_configuration.py.template
  birdhouse/config/jupyterhub/default.env
  birdhouse/config/jupyterhub/docker-compose-extra.yml
  birdhouse/config/jupyterhub/jupyterhub_config.py.template
  birdhouse/env.local.example
  docs/source/conf.py
Labels: documentation, ci/operations, component/jupyterhub

#405 `optional-components/stac-public-access`: add public write permission for `POST /stac/search` request
  .github/labeler.yml
  CHANGES.md
  birdhouse/optional-components/stac-public-access/config/magpie/permissions.cfg
Labels: documentation, ci/operations, component/STAC, component/magpie

#403 add `optional-components/stac-data-proxy`
  .bumpversion.cfg
  CHANGES.md
  Makefile
  README.rst
  RELEASE.txt
  birdhouse/config/canarie-api/docker_configuration.py.template
  birdhouse/optional-components/README.rst
  birdhouse/optional-components/stac-data-proxy/.gitignore
  birdhouse/optional-components/stac-data-proxy/config/proxy/conf.extra-service.d/stac-proxy-data.conf.template
  birdhouse/optional-components/stac-data-proxy/config/proxy/docker-compose-extra.yml
  birdhouse/optional-components/stac-data-proxy/config/secure-data-proxy/docker-compose-extra.yml
  birdhouse/optional-components/stac-data-proxy/config/secure-data-proxy/permissions.cfg.template
  birdhouse/optional-components/stac-data-proxy/default.env
  birdhouse/optional-components/stac-public-access/.gitignore
  birdhouse/optional-components/stac-public-access/config/stac-data-proxy/docker-compose-extra.yml
  birdhouse/optional-components/stac-public-access/config/stac-data-proxy/permissions.cfg.template
  docs/source/conf.py
Labels: documentation, ci/operations, component/STAC, component/magpie

#406 Add cowbird readme
  .bumpversion.cfg
  CHANGES.md
  Makefile
  README.rst
  RELEASE.txt
  birdhouse/components/cowbird/default.env
  birdhouse/components/cowbird/user_workspace_readme.ipynb
  birdhouse/config/canarie-api/docker_configuration.py.template
  docs/source/conf.py
Labels: documentation, ci/operations, component/cowbird

#408 Update cowbird version from 2.2.0 to 2.3.0
  .bumpversion.cfg
  CHANGES.md
  Makefile
  README.rst
  RELEASE.txt
  birdhouse/components/cowbird/default.env
  birdhouse/config/canarie-api/docker_configuration.py.template
  docs/source/conf.py
Labels: documentation, ci/operations, component/cowbird
