Repository bird-house/birdhouse-deploy, pull requests merged in 2023-12, with the labels that each got.

#407 Allow user to access their Magpie cookie programmatically
  .bumpversion.cfg
  CHANGES.md
  Makefile
  README.rst
  RELEASE.txt
  birdhouse/config/canarie-api/docker_configuration.py.template
  birdhouse/config/jupyterhub/jupyterhub_config.py.template
  docs/source/conf.py
Labels: documentation, ci/operations, component/jupyterhub

#410 Document extra reason to allow not existing dir in `EXTRA_CONF_DIRS`, fix unable to change Twitcher logging level
  .bumpversion.cfg
  CHANGES.md
  Makefile
  README.rst
  RELEASE.txt
  birdhouse/components/canarie-api/docker_configuration.py.template
  birdhouse/components/twitcher/twitcher.ini.template
  birdhouse/deployment/certbotwrapper
  birdhouse/read-configs.include.sh
  docs/source/conf.py
Labels: documentation, ci/operations, ci/deployment, component/twitcher

#412 Cowbird README file disappears now that cowbird is a default component
  .bumpversion.cfg
  CHANGES.md
  Makefile
  README.rst
  RELEASE.txt
  birdhouse/components/canarie-api/docker_configuration.py.template
  birdhouse/components/cowbird/default.env
  birdhouse/components/jupyterhub/default.env
  docs/source/conf.py
Labels: documentation, ci/operations, component/cowbird, component/jupyterhub
