Repository bird-house/birdhouse-deploy, pull requests merged in 2023-07, with the labels that each got.

#336 Fix Cowbird's `sync_permissions` config which used invalid Magpie service types
  .bumpversion.cfg
  CHANGES.md
  Makefile
  README.rst
  RELEASE.txt
  birdhouse/components/cowbird/config/cowbird/config.yml.template
  birdhouse/config/canarie-api/docker_configuration.py.template
  docs/source/conf.py
Labels: documentation, ci/operations, component/cowbird

#338 Move canarie-api configuration for cowbird from proxy to canarie-api config directory
  .bumpversion.cfg
  CHANGES.md
  Makefile
  README.rst
  RELEASE.txt
  birdhouse/components/cowbird/config/canarie-api/canarie_api_monitoring.py.template
  birdhouse/components/cowbird/config/canarie-api/docker-compose-extra.yml
  birdhouse/components/cowbird/config/proxy/docker-compose-extra.yml
  birdhouse/config/canarie-api/docker_configuration.py.template
  docs/source/conf.py
Labels: documentation, ci/operations, component/cowbird

#344 Components endpoint now returns valid json
  .bumpversion.cfg
  CHANGES.md
  Makefile
  README.rst
  RELEASE.txt
  birdhouse/config/canarie-api/docker_configuration.py.template
  birdhouse/scripts/get-components-json.include.sh
  docs/source/conf.py
Labels: documentation, ci/operations, ci/deployment

#323 Update cowbird config with permission webhook cases
  .bumpversion.cfg
  CHANGES.md
  Makefile
  README.rst
  RELEASE.txt
  birdhouse/components/cowbird/config/magpie/config.yml.template
  birdhouse/components/cowbird/default.env
  birdhouse/components/cowbird/docker-compose-extra.yml
  birdhouse/config/canarie-api/docker_configuration.py.template
  birdhouse/config/jupyterhub/docker-compose-extra.yml
  birdhouse/config/jupyterhub/jupyterhub_config.py.template
  birdhouse/config/magpie/default.env
  birdhouse/default.env
  docs/source/conf.py
Labels: documentation, ci/operations, component/magpie, component/cowbird, component/jupyterhub
