Repository bird-house/birdhouse-deploy, pull requests merged in 2023-10, with the labels that each got.

#385 Clean up: Make bind-mount locations more flexible
  .bumpversion.cfg
  CHANGES.md
  Makefile
  README.rst
  RELEASE.txt
  birdhouse/components/weaver/default.env
  birdhouse/components/weaver/docker-compose-extra.yml
  birdhouse/config/canarie-api/docker_configuration.py.template
  docs/source/conf.py
Labels: documentation, ci/operations, component/weaver, feature/WPS

#373 Adding service information for the STAC catalog
  .bumpversion.cfg
  CHANGES.md
  Makefile
  README.rst
  RELEASE.txt
  birdhouse/components/stac/.gitignore
  birdhouse/components/stac/service-config.json.template
  birdhouse/config/canarie-api/docker_configuration.py.template
  docs/source/conf.py
  tests/test_deployment.py
Labels: documentation, ci/operations, feature/node-registry, ci/tests

#388 allow users to request public Weaver WPS outputs
  .bumpversion.cfg
  CHANGES.md
  Makefile
  README.rst
  RELEASE.txt
  birdhouse/components/cowbird/config/cowbird/cowbird.ini.template
  birdhouse/components/cowbird/default.env
  birdhouse/components/weaver/.gitignore
  birdhouse/components/weaver/config/magpie/weaver_hooks.py.template
  birdhouse/components/weaver/default.env
  birdhouse/config/canarie-api/docker_configuration.py.template
  docs/source/conf.py
Labels: documentation, component/magpie, component/weaver, component/cowbird, feature/WPS

#390 make jupyterhub idle server more easily configurable
  .bumpversion.cfg
  CHANGES.md
  Makefile
  README.rst
  RELEASE.txt
  birdhouse/config/canarie-api/docker_configuration.py.template
  birdhouse/config/jupyterhub/default.env
  birdhouse/config/jupyterhub/jupyterhub_config.py.template
  birdhouse/env.local.example
  docs/source/conf.py
Labels: documentation, ci/operations, component/jupyterhub

#391 Jupyterhub cull interval setting must be an integer
  .bumpversion.cfg
  CHANGES.md
  Makefile
  README.rst
  RELEASE.txt
  birdhouse/config/canarie-api/docker_configuration.py.template
  birdhouse/config/jupyterhub/jupyterhub_config.py.template
  docs/source/conf.py
Labels: documentation, ci/operations, component/jupyterhub

#395 fix async/await calls for CustomDockerSpawner.start
  .bumpversion.cfg
  CHANGES.md
  Makefile
  README.rst
  RELEASE.txt
  birdhouse/config/canarie-api/docker_configuration.py.template
  birdhouse/config/jupyterhub/jupyterhub_config.py.template
  docs/source/conf.py
Labels: documentation, ci/operations, component/jupyterhub
