Repository bird-house/birdhouse-deploy, pull requests merged in 2023-09, with the labels that each got.

#324 Globally added X-Robots-Tag: noindex HTTP response header
  .bumpversion.cfg
  CHANGES.md
  Makefile
  README.rst
  RELEASE.txt
  birdhouse/config/canarie-api/docker_configuration.py.template
  birdhouse/optional-components/README.rst
  birdhouse/optional-components/x-robots-tags-header/.gitignore
  birdhouse/optional-components/x-robots-tags-header/config/proxy/conf.extra-service.d/x-robots-tags-header.conf.template
  birdhouse/optional-components/x-robots-tags-header/config/proxy/docker-compose-extra.yml
  birdhouse/optional-components/x-robots-tags-header/default.env
  docs/source/conf.py
Labels: documentation, ci/operations

#363 Updating contribution
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.rst
Labels: documentation, ci/operations

#379 fix X-Robots-Tag header name
  .bumpversion.cfg
  CHANGES.md
  Makefile
  README.rst
  RELEASE.txt
  birdhouse/config/canarie-api/docker_configuration.py.template
  birdhouse/optional-components/.gitignore
  birdhouse/optional-components/README.rst
  birdhouse/optional-components/x-robots-tag-header/.gitignore
  birdhouse/optional-components/x-robots-tag-header/config/proxy/conf.extra-service.d/x-robots-tag-header.conf.template
  birdhouse/optional-components/x-robots-tag-header/config/proxy/docker-compose-extra.yml
  birdhouse/optional-components/x-robots-tag-header/default.env
  birdhouse/optional-components/x-robots-tags-header/.gitignore
  birdhouse/optional-components/x-robots-tags-header/config/proxy/conf.extra-service.d/x-robots-tags-header.conf.template
  birdhouse/optional-components/x-robots-tags-header/config/proxy/docker-compose-extra.yml
  docs/source/conf.py
Labels: documentation, ci/operations

#372 Renaming DACCS to Marble in service-config.json.template files
  .bumpversion.cfg
  CHANGES.md
  Makefile
  README.rst
  RELEASE.txt
  birdhouse/components/weaver/service-config.json.template
  birdhouse/config/canarie-api/docker_configuration.py.template
  birdhouse/config/finch/service-config.json.template
  birdhouse/config/geoserver/service-config.json.template
  birdhouse/config/hummingbird/service-config.json.template
  birdhouse/config/jupyterhub/service-config.json.template
  birdhouse/config/raven/service-config.json.template
  birdhouse/config/thredds/service-config.json.template
  birdhouse/deprecated-components/flyingpigeon/service-config.json.template
  docs/source/conf.py
  tests/test_deployment.py
Labels: documentation, ci/operations, component/THREDDS, component/weaver, component/jupyterhub, component/geoserver, feature/node-registry, ci/tests, feature/WPS

#380 add flyingpigeon to birdhouse/config .gitignore since moved to deprecated-components
  .bumpversion.cfg
  CHANGES.md
  Makefile
  README.rst
  RELEASE.txt
  birdhouse/config/.gitignore
  birdhouse/config/canarie-api/docker_configuration.py.template
  docs/source/conf.py
Labels: documentation, ci/operations

#383 move STAC service Magpie definition under its component
  CHANGES.md
  birdhouse/components/stac/.gitignore
  birdhouse/components/stac/config/magpie/config.yml.template
  birdhouse/components/stac/config/magpie/docker-compose-extra.yml
  birdhouse/optional-components/README.rst
  birdhouse/optional-components/all-public-access/default.env
  birdhouse/optional-components/stac-public-access/.gitignore
  birdhouse/optional-components/stac-public-access/config/magpie/docker-compose-extra.yml
  birdhouse/optional-components/stac-public-access/config/magpie/permissions.cfg
Labels: documentation, component/magpie

#382 Adding redirect to /stac/stac when using twitcher
  .bumpversion.cfg
  CHANGES.md
  Makefile
  README.rst
  RELEASE.txt
  birdhouse/components/stac/config/proxy/conf.extra-service.d/stac.conf.template
  birdhouse/config/canarie-api/docker_configuration.py.template
  birdhouse/optional-components/stac-public-access/config/magpie/permissions.cfg
  docs/source/conf.py
Labels: documentation, ci/operations, component/magpie

#378 Adding new jupyterlab image
  .bumpversion.cfg
  CHANGES.md
  Makefile
  README.rst
  RELEASE.txt
  birdhouse/config/canarie-api/docker_configuration.py.template
  birdhouse/config/jupyterhub/default.env
  birdhouse/config/jupyterhub/docker-compose-extra.yml
  birdhouse/env.local.example
  docs/source/conf.py
Labels: documentation, ci/operations, component/jupyterhub

#360 Mount public wpsoutputs data
  .bumpversion.cfg
  .readthedocs.yml
  CHANGES.md
  Makefile
  README.rst
  RELEASE.txt
  birdhouse/components/cowbird/config/cowbird/config.yml.template
  birdhouse/components/cowbird/config/jupyterhub/docker-compose-extra.yml
  birdhouse/components/cowbird/default.env
  birdhouse/components/cowbird/docker-compose-extra.yml
  birdhouse/components/weaver/default.env
  birdhouse/config/canarie-api/docker_configuration.py.template
  birdhouse/config/jupyterhub/jupyterhub_config.py.template
  birdhouse/default.env
  docs/source/conf.py
Labels: documentation, ci/operations, component/weaver, component/cowbird, component/jupyterhub, feature/WPS
