Repository bird-house/birdhouse-deploy, pull requests merged in 2024-01, with the labels that each got.

#419 Autodeploy broken due to instanciated left-over files in ./config/ dir
  .bumpversion.cfg
  CHANGES.md
  Makefile
  README.rst
  RELEASE.txt
  birdhouse/.gitignore
  birdhouse/components/canarie-api/docker_configuration.py.template
  docs/source/conf.py
Labels: documentation, ci/operations

#421 Allow users to log in to Jupyterhub with their email address
  CHANGES.md
  birdhouse/components/jupyterhub/default.env
Labels: documentation, component/jupyterhub

#422 Bump version: 2.0.3 → 2.0.4
  .bumpversion.cfg
  CHANGES.md
  Makefile
  README.rst
  RELEASE.txt
  birdhouse/components/canarie-api/docker_configuration.py.template
  docs/source/conf.py
Labels: documentation, ci/operations

#420 jupyter: new incremental build for compatibility with upcoming Thredds v5
  .bumpversion.cfg
  CHANGES.md
  Makefile
  README.rst
  RELEASE.txt
  birdhouse/components/canarie-api/docker_configuration.py.template
  birdhouse/components/jupyterhub/default.env
  docs/source/conf.py
Labels: documentation, ci/operations, component/jupyterhub

#418 Magpie: ensure that the `MAGPIE_ADMIN_USERNAME` variable is respected
  CHANGES.md
  birdhouse/README.rst
  birdhouse/components/README.rst
  birdhouse/components/jupyterhub/default.env
  birdhouse/default.env
  birdhouse/env.local.example
  birdhouse/scripts/read-configs.include.sh
  tests/test_read_configs_include.py
Labels: documentation, ci/operations, ci/deployment, component/jupyterhub, ci/tests
