Repository bird-house/birdhouse-deploy, pull requests merged in 2024-05, with the labels that each got.

#451 bump jupyterhub version to 4.1.5-20240426
  .bumpversion.cfg
  CHANGES.md
  Makefile
  README.rst
  RELEASE.txt
  birdhouse/components/canarie-api/docker_configuration.py.template
  birdhouse/components/jupyterhub/default.env
  docs/source/conf.py
Labels: documentation, ci/operations, component/jupyterhub

#449 weaver: bump version to 5.1.0 + debug notebook output
  CHANGES.md
  birdhouse/components/weaver/post-docker-compose-up
Labels: documentation, component/weaver, feature/WPS

#453 Jupyter env: new full build with latest of almost everything
  .bumpversion.cfg
  CHANGES.md
  Makefile
  README.rst
  RELEASE.txt
  birdhouse/components/canarie-api/docker_configuration.py.template
  birdhouse/components/jupyterhub/default.env
  birdhouse/env.local.example
  docs/source/conf.py
Labels: documentation, ci/operations, component/jupyterhub

#452 Bump canarie api 1.0.0
  .bumpversion.cfg
  CHANGES.md
  Makefile
  README.rst
  RELEASE.txt
  birdhouse/components/canarie-api/config/proxy/conf.extra-service.d/canarie-api.conf.template
  birdhouse/components/canarie-api/config/proxy/docker-compose-extra.yml
  birdhouse/components/canarie-api/default.env
  birdhouse/components/canarie-api/docker-compose-extra.yml
  birdhouse/components/canarie-api/docker_configuration.py.template
  birdhouse/components/canarie-api/entrypoint
  birdhouse/components/canarie-api/entrypoint-cron
  birdhouse/components/cowbird/config/canarie-api/docker-compose-extra.yml
  birdhouse/components/finch/config/canarie-api/docker-compose-extra.yml
  birdhouse/components/geoserver/config/canarie-api/docker-compose-extra.yml
  birdhouse/components/hummingbird/config/canarie-api/docker-compose-extra.yml
  birdhouse/components/jupyterhub/config/canarie-api/docker-compose-extra.yml
  birdhouse/components/magpie/config/canarie-api/docker-compose-extra.yml
  birdhouse/components/proxy/default.env
  birdhouse/components/proxy/nginx.conf.template
  birdhouse/components/raven/config/canarie-api/docker-compose-extra.yml
  birdhouse/components/stac/config/canarie-api/docker-compose-extra.yml
  birdhouse/components/thredds/config/canarie-api/docker-compose-extra.yml
  birdhouse/components/twitcher/config/canarie-api/docker-compose-extra.yml
  birdhouse/components/weaver/config/canarie-api/docker-compose-extra.yml
  birdhouse/components/wps_outputs-volume/config/canarie-api/docker-compose-extra.yml
  birdhouse/deprecated-components/catalog/config/canarie-api/docker-compose-extra.yml
  birdhouse/deprecated-components/flyingpigeon/config/canarie-api/docker-compose-extra.yml
  birdhouse/deprecated-components/frontend/config/canarie-api/docker-compose-extra.yml
  birdhouse/deprecated-components/malleefowl/config/canarie-api/docker-compose-extra.yml
  birdhouse/deprecated-components/phoenix/config/canarie-api/docker-compose-extra.yml
  birdhouse/deprecated-components/project-api/config/canarie-api/docker-compose-extra.yml
  birdhouse/deprecated-components/solr/config/canarie-api/docker-compose-extra.yml
  birdhouse/optional-components/canarie-api-full-monitoring/config/canarie-api/docker-compose-extra.yml
  birdhouse/optional-components/canarie-api-full-monitoring/config/catalog/docker-compose-extra.yml
  birdhouse/optional-components/canarie-api-full-monitoring/config/cowbird/docker-compose-extra.yml
  birdhouse/optional-components/canarie-api-full-monitoring/config/finch/docker-compose-extra.yml
  birdhouse/optional-components/canarie-api-full-monitoring/config/hummingbird/docker-compose-extra.yml
  birdhouse/optional-components/canarie-api-full-monitoring/config/malleefowl/docker-compose-extra.yml
  birdhouse/optional-components/canarie-api-full-monitoring/config/ncwms2/docker-compose-extra.yml
  birdhouse/optional-components/canarie-api-full-monitoring/config/raven/docker-compose-extra.yml
  birdhouse/optional-components/canarie-api-full-monitoring/config/thredds/docker-compose-extra.yml
  birdhouse/optional-components/canarie-api-full-monitoring/config/weaver/docker-compose-extra.yml
  birdhouse/optional-components/emu/config/canarie-api/docker-compose-extra.yml
  birdhouse/optional-components/generic_bird/config/canarie-api/docker-compose-extra.yml
  birdhouse/optional-components/testthredds/config/canarie-api/docker-compose-extra.yml
  docs/source/conf.py
  tests/test_read_configs_include.py
Labels: documentation, ci/operations, component/STAC, component/THREDDS, component/magpie, component/twitcher, component/weaver, component/cowbird, component/jupyterhub, component/geoserver, ci/tests, feature/WPS

#454 Scripts that read configuration settings and that exit early on error fail unexpectedly
  .bumpversion.cfg
  CHANGES.md
  Makefile
  README.rst
  RELEASE.txt
  birdhouse/components/canarie-api/docker_configuration.py.template
  birdhouse/read-configs.include.sh
  docs/source/conf.py
  tests/test_read_configs_include.py
Labels: documentation, ci/operations, ci/deployment, ci/tests

#457 Make the monitoring component docker images configurable
  .bumpversion.cfg
  CHANGES.md
  Makefile
  README.rst
  RELEASE.txt
  birdhouse/components/canarie-api/docker_configuration.py.template
  birdhouse/components/monitoring/default.env
  birdhouse/components/monitoring/docker-compose-extra.yml
  docs/source/conf.py
Labels: documentation, ci/operations

#458 Bump cadvisor version to the latest version: v0.49.1
  .bumpversion.cfg
  CHANGES.md
  Makefile
  README.rst
  RELEASE.txt
  birdhouse/components/canarie-api/docker_configuration.py.template
  birdhouse/components/monitoring/default.env
  docs/source/conf.py
Labels: documentation, ci/operations
