Repository bird-house/birdhouse-deploy, pull requests merged in 2024-09, with the labels that each got.

#469 fix docs build invalid `intersphinx_mapping`
  docs/source/conf.py
Labels: documentation

#468 Update PR template to avoid default regex self-match when copy-pasted to merge commit message
  .github/PULL_REQUEST_TEMPLATE.md
Labels: ci/operations

#466 update `Magpie==4.1.1` and `Twitcher==0.10.0`
  .bumpversion.cfg
  CHANGES.md
  Makefile
  README.rst
  RELEASE.txt
  birdhouse/components/canarie-api/docker_configuration.py.template
  birdhouse/components/magpie/default.env
  docs/source/conf.py
Labels: documentation, ci/operations, component/magpie

#470 Update CONTRIBUTING.rst
  CONTRIBUTING.rst
Labels: documentation

#471 add migration guide to docs
  docs/source/index.rst
  docs/source/migration_guide.rst
Labels: documentation
