Repository bird-house/birdhouse-deploy, pull requests merged in 2024-11, with the labels that each got.

#475 Jupyter: update to release py311-241111
  .bumpversion.cfg
  CHANGES.md
  Makefile
  README.rst
  RELEASE.txt
  birdhouse/components/canarie-api/docker_configuration.py.template
  birdhouse/components/jupyterhub/default.env
  birdhouse/env.local.example
  docs/source/conf.py
Labels: documentation, ci/operations, component/jupyterhub

#473 Add the `prometheus-log-parser` optional component
  .bumpversion.cfg
  CHANGES.md
  Makefile
  README.rst
  RELEASE.txt
  birdhouse/components/README.rst
  birdhouse/components/canarie-api/docker_configuration.py.template
  birdhouse/components/monitoring/default.env
  birdhouse/components/monitoring/prometheus.yml.template
  birdhouse/components/proxy/nginx.conf.template
  birdhouse/env.local.example
  birdhouse/optional-components/README.rst
  birdhouse/optional-components/prometheus-log-parser/config/monitoring/.gitignore
  birdhouse/optional-components/prometheus-log-parser/config/monitoring/docker-compose-extra.yml
  birdhouse/optional-components/prometheus-log-parser/config/monitoring/scrape_configs.yml.template
  birdhouse/optional-components/prometheus-log-parser/config/proxy/docker-compose-extra.yml
  birdhouse/optional-components/prometheus-log-parser/config/thredds/docker-compose-extra.yml
  birdhouse/optional-components/prometheus-log-parser/config/thredds/prometheus-log-exporter.py
  birdhouse/optional-components/prometheus-log-parser/default.env
  birdhouse/optional-components/prometheus-log-parser/docker-compose-extra.yml
  docs/source/conf.py
Labels: documentation, ci/operations, component/THREDDS

#478 fix regressions introduced by PR #359 "Flexible locations for data served by thredds"
  .bumpversion.cfg
  CHANGES.md
  Makefile
  README.rst
  RELEASE.txt
  birdhouse/components/canarie-api/docker_configuration.py.template
  birdhouse/optional-components/secure-thredds/config/magpie/.gitignore
  birdhouse/optional-components/secure-thredds/config/magpie/permissions.cfg.template
  birdhouse/scripts/bootstrap-testdata
  docs/source/conf.py
Labels: documentation, ci/deployment, component/magpie
