Repository bird-house/birdhouse-deploy, pull requests merged in 2024-03, with the labels that each got.

#430 update GitHub issue+pr templates assignees
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/documentation.md
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/ISSUE_TEMPLATE/support.md
Labels: ci/operations

#426 decrease optional var logging level and allow to pass extra opts to `pavics-compose.sh up -d`
  .bumpversion.cfg
  CHANGES.md
  Makefile
  README.rst
  RELEASE.txt
  birdhouse/components/canarie-api/docker_configuration.py.template
  birdhouse/env.local.example
  birdhouse/pavics-compose.sh
  birdhouse/read-configs.include.sh
  docs/source/conf.py
Labels: documentation, ci/operations, ci/deployment

#437 Weaver: celery-healthcheck: update regular expression
  .bumpversion.cfg
  CHANGES.md
  Makefile
  README.rst
  RELEASE.txt
  birdhouse/components/canarie-api/docker_configuration.py.template
  birdhouse/components/weaver/celery-healthcheck
  docs/source/conf.py
Labels: documentation, ci/operations, component/weaver, feature/WPS

#440 Update README.rst bades
  README.rst
Labels: documentation
