Repository bird-house/birdhouse-deploy, pull requests merged in 2024-12, with the labels that each got.

#481 Jupyterhub: update recommended paths for public share folders
  CHANGES.md
  birdhouse/env.local.example
Labels: documentation

#483 Correct docker image for `stac-populator` optional component
  .bumpversion.cfg
  CHANGES.md
  Makefile
  README.rst
  RELEASE.txt
  birdhouse/components/canarie-api/docker_configuration.py.template
  birdhouse/optional-components/stac-populator/default.env
  birdhouse/optional-components/stac-populator/docker-compose-extra.yml
  docs/source/conf.py
Labels: documentation, ci/operations, component/STAC

#413 Update Thredds to supported version
  .bumpversion.cfg
  CHANGES.md
  Makefile
  README.rst
  RELEASE.txt
  birdhouse/components/canarie-api/docker_configuration.py.template
  birdhouse/components/thredds/catalog.xml.template
  birdhouse/components/thredds/config/canarie-api/canarie_api_monitoring.py.template
  birdhouse/components/thredds/default.env
  birdhouse/components/thredds/threddsConfig.xml.template
  birdhouse/components/thredds/wmsConfig.xml
  birdhouse/optional-components/testthredds/catalog.xml.template
  birdhouse/optional-components/testthredds/wmsConfig.xml
  docs/source/conf.py
Labels: documentation, ci/operations, component/THREDDS, component/magpie, ci/tests

#486 CHANGES: document reasoning for pulling in new Thredds v5, even with minor issues
  CHANGES.md
Labels: documentation

#485 canarie-api: fix new Thredds v5 monitoring URL
  .bumpversion.cfg
  CHANGES.md
  Makefile
  README.rst
  RELEASE.txt
  birdhouse/components/canarie-api/docker_configuration.py.template
  birdhouse/components/thredds/config/canarie-api/canarie_api_monitoring.py.template
  docs/source/conf.py
Labels: documentation, ci/operations, component/THREDDS

#487 fix incorrect geoserver URL in cowbird configuration
  .bumpversion.cfg
  CHANGES.md
  Makefile
  README.rst
  RELEASE.txt
  birdhouse/components/canarie-api/docker_configuration.py.template
  birdhouse/components/cowbird/config/cowbird/config.yml.template
  docs/source/conf.py
Labels: documentation, ci/operations, component/cowbird

#488 update cowbird to version 2.5.0
  .bumpversion.cfg
  CHANGES.md
  Makefile
  README.rst
  RELEASE.txt
  birdhouse/components/canarie-api/docker_configuration.py.template
  birdhouse/components/cowbird/default.env
  docs/source/conf.py
Labels: documentation, ci/operations, component/cowbird
