Repository bird-house/birdhouse-deploy, pull requests merged in 2024-02, with the labels that each got.

#423 Weaver: add option to automatically unregister old providers
  .bumpversion.cfg
  CHANGES.md
  Makefile
  README.rst
  RELEASE.txt
  birdhouse/components/canarie-api/docker_configuration.py.template
  birdhouse/components/weaver/default.env
  birdhouse/components/weaver/post-docker-compose-up
  birdhouse/env.local.example
  docs/source/conf.py
Labels: documentation, ci/operations, component/weaver, feature/WPS

#424 env.local.example: fix `JUPYTERHUB_CONFIG_OVERRIDE` comment section
  CHANGES.md
  birdhouse/env.local.example
Labels: documentation

#415 node details overrides + logging utils
  .bumpversion.cfg
  .gitignore
  CHANGES.md
  Makefile
  README.rst
  RELEASE.txt
  birdhouse/README.rst
  birdhouse/components/README.rst
  birdhouse/components/canarie-api/docker_configuration.py.template
  birdhouse/components/geoserver/pre-docker-compose-up
  birdhouse/components/jupyterhub/default.env
  birdhouse/components/proxy/pre-docker-compose-up
  birdhouse/default.env
  birdhouse/deployment/certbotwrapper
  birdhouse/deployment/deploy.sh
  birdhouse/deployment/fix-geoserver-data-dir-perm
  birdhouse/deployment/fix-write-perm
  birdhouse/deployment/install-deploy-notebook
  birdhouse/deployment/trigger-deploy-notebook
  birdhouse/deployment/triggerdeploy.sh
  birdhouse/env.local.example
  birdhouse/pavics-compose.sh
  birdhouse/read-configs.include.sh
  birdhouse/scripts/backup-datavolume.sh
  birdhouse/scripts/backup-jupyterhub-notebooks.sh
  birdhouse/scripts/bootstrap-instance-for-testsuite
  birdhouse/scripts/bootstrap-testdata
  birdhouse/scripts/check-autodeploy-repos
  birdhouse/scripts/check-instance-ready
  birdhouse/scripts/check-wps-database.sh
  birdhouse/scripts/clear-running-wps-jobs-in-db.sh
  birdhouse/scripts/create-magpie-authtest-user
  birdhouse/scripts/create-magpie-users
  birdhouse/scripts/deprecated/trigger-pavicscrawler
  birdhouse/scripts/detect-user-install-in-jupyter-env
  birdhouse/scripts/extract-jupyter-users-from-magpie-db
  birdhouse/scripts/get-components-json.include.sh
  birdhouse/scripts/get-services-json.include.sh
  birdhouse/scripts/logging.include.sh
  birdhouse/scripts/migrate-jupyterhub-user-persistence
  birdhouse/scripts/send-dummy-alert.sh
  birdhouse/scripts/sync-data
  docs/source/conf.py
  tests/test_read_configs_include.py
Labels: documentation, ci/operations, ci/deployment, component/THREDDS, component/magpie, component/twitcher, component/jupyterhub, component/geoserver, feature/node-registry, ci/tests, feature/WPS
