Repository bird-house/birdhouse-deploy, pull requests merged in 2024-04, with the labels that each got.

#442 fix content-type of geoserver service-config.json.template
  CHANGES.md
  birdhouse/components/geoserver/service-config.json.template
Labels: documentation, component/geoserver, feature/node-registry

#446 Jupyterhub: fix authentication bug when changing settings
  .bumpversion.cfg
  CHANGES.md
  Makefile
  README.rst
  RELEASE.txt
  birdhouse/components/canarie-api/docker_configuration.py.template
  birdhouse/components/jupyterhub/default.env
  docs/source/conf.py
Labels: documentation, ci/operations, component/jupyterhub

#445 add node services URI and fields
  .bumpversion.cfg
  CHANGES.md
  Makefile
  README.rst
  RELEASE.txt
  birdhouse/components/canarie-api/docker_configuration.py.template
  birdhouse/components/finch/default.env
  birdhouse/components/finch/service-config.json.template
  birdhouse/components/geoserver/default.env
  birdhouse/components/geoserver/service-config.json.template
  birdhouse/components/hummingbird/config/canarie-api/canarie_api_monitoring.py.template
  birdhouse/components/hummingbird/default.env
  birdhouse/components/hummingbird/docker-compose-extra.yml
  birdhouse/components/hummingbird/service-config.json.template
  birdhouse/components/jupyterhub/default.env
  birdhouse/components/jupyterhub/docker-compose-extra.yml
  birdhouse/components/jupyterhub/service-config.json.template
  birdhouse/components/raven/default.env
  birdhouse/components/raven/docker-compose-extra.yml
  birdhouse/components/raven/service-config.json.template
  birdhouse/components/stac/config/canarie-api/canarie_api_monitoring.py.template
  birdhouse/components/stac/default.env
  birdhouse/components/stac/docker-compose-extra.yml
  birdhouse/components/stac/service-config.json.template
  birdhouse/components/thredds/default.env
  birdhouse/components/thredds/service-config.json.template
  birdhouse/components/weaver/default.env
  birdhouse/components/weaver/docker-compose-extra.yml
  birdhouse/components/weaver/service-config.json.template
  birdhouse/deprecated-components/flyingpigeon/default.env
  birdhouse/deprecated-components/flyingpigeon/docker-compose-extra.yml
  birdhouse/deprecated-components/flyingpigeon/service-config.json.template
  birdhouse/optional-components/testthredds/default.env
  birdhouse/scripts/get-services-json.include.sh
  docs/source/conf.py
  tests/requirements.txt
  tests/test_deployment.py
Labels: documentation, ci/operations, ci/deployment, component/STAC, component/THREDDS, component/weaver, component/jupyterhub, component/geoserver, feature/node-registry, ci/tests, feature/WPS

#448 fix readthedocs build
  CHANGES.md
  docs/requirements.txt
Labels: documentation
