Repository bird-house/birdhouse-deploy, pull requests merged in 2025-08, with the labels that each got.

#564 Update the raven-testdata location
  CHANGES.md
  birdhouse/components/raven/default.env
  birdhouse/deployment/deploy-data-raven-testdata-to-thredds.yml
Labels: documentation, ci/operations, ci/deployment, feature/WPS

#571 Thanos-minio container should always restart on failure
  CHANGES.md
  birdhouse/optional-components/thanos/docker-compose-extra.yml
Labels: documentation

#561 backup restore without snapshot for STAC migration
  .bumpversion.cfg
  CHANGES.md
  Makefile
  README.rst
  RELEASE.txt
  bin/birdhouse
  birdhouse/components/canarie-api/docker_configuration.py.template
  birdhouse/components/stac/backup
  birdhouse/components/stac/default.env
  birdhouse/components/stac/docker-compose-extra.yml
  birdhouse/default.env
  birdhouse/scripts/backup
  birdhouse/scripts/backup.include.sh
  docs/source/conf.py
  tests/unit/test_cli.py
  tests/unit/test_logging.py
Labels: documentation, ci/operations, ci/deployment, component/STAC, ci/tests

#569 Proxy: allow additional Nginx listen parameters to enable HTTP/2
  .bumpversion.cfg
  CHANGES.md
  Makefile
  README.rst
  RELEASE.txt
  birdhouse/components/canarie-api/docker_configuration.py.template
  birdhouse/components/proxy/conf.d/.gitignore
  birdhouse/components/proxy/conf.d/frontend.conf.template
  birdhouse/components/proxy/conf.d/https.include.template
  birdhouse/components/proxy/default.env
  birdhouse/env.local.example
  docs/source/conf.py
Labels: documentation, ci/operations

#354 Update finch to 0.12.1
  .bumpversion.toml
  CHANGES.md
  Makefile
  README.rst
  RELEASE.txt
  birdhouse/components/canarie-api/docker_configuration.py.template
  birdhouse/components/finch/default.env
  docs/source/conf.py
Labels: documentation, feature/WPS

#580 Fix labeler configuration
  .bumpversion.toml
  .github/labeler.yml
  CHANGES.md
  Makefile
  README.rst
  RELEASE.txt
  birdhouse/components/canarie-api/docker_configuration.py.template
  docs/source/conf.py
Labels: documentation, ci/operations
