Repository bird-house/birdhouse-deploy, pull requests merged in 2025-04, with the labels that each got.

#525 allow configuration and access to THREDDS service information page
  .bumpversion.cfg
  CHANGES.md
  Makefile
  README.rst
  RELEASE.txt
  birdhouse/components/canarie-api/docker_configuration.py.template
  birdhouse/components/thredds/config/magpie/providers.cfg.template
  birdhouse/components/thredds/default.env
  birdhouse/components/thredds/service-config.json.template
  birdhouse/components/thredds/threddsConfig.xml.template
  docs/source/conf.py
Labels: documentation, ci/operations, component/THREDDS, component/magpie, feature/node-registry

#524 deprecate portainer
  .bumpversion.cfg
  CHANGES.md
  Makefile
  README.rst
  RELEASE.txt
  birdhouse/components/.gitignore
  birdhouse/components/README.rst
  birdhouse/components/canarie-api/docker_configuration.py.template
  birdhouse/components/portainer/config/proxy/docker-compose-extra.yml
  birdhouse/deprecated-components/portainer/.gitignore
  birdhouse/deprecated-components/portainer/config/proxy/conf.extra-service.d/portainer.conf.template
  birdhouse/deprecated-components/portainer/config/proxy/docker-compose-extra.yml
  birdhouse/deprecated-components/portainer/docker-compose-extra.yml
  docs/source/conf.py
  docs/source/migration_guide.rst
Labels: documentation, ci/operations

#526 Jupyter: update to env py311-250423
  CHANGES.md
  birdhouse/components/jupyterhub/default.env
  birdhouse/env.local.example
Labels: documentation, component/jupyterhub

#528 update jupyter env: py311-240423 version bump
  .bumpversion.cfg
  CHANGES.md
  Makefile
  README.rst
  RELEASE.txt
  birdhouse/components/canarie-api/docker_configuration.py.template
  docs/source/conf.py
Labels: documentation, ci/operations
