Repository bird-house/birdhouse-deploy, pull requests merged in 2025-01, with the labels that each got.

#490 Add resolver for http nginx configuration
  CHANGES.md
  birdhouse/components/proxy/conf.d/frontend.conf.template
Labels: documentation

#480 Jupyterhub: allow users created before Cowbird was enabled to spawn jupyterlab
  .bumpversion.cfg
  CHANGES.md
  Makefile
  README.rst
  RELEASE.txt
  birdhouse/components/canarie-api/docker_configuration.py.template
  birdhouse/components/jupyterhub/jupyterhub_config.py.template
  docs/source/conf.py
Labels: documentation, ci/operations, component/jupyterhub

#492 Add integration test framework
  .bumpversion.cfg
  .github/workflows/tests.yml
  CHANGES.md
  Makefile
  README.rst
  RELEASE.txt
  bin/birdhouse
  birdhouse/birdhouse-compose.sh
  birdhouse/components/canarie-api/docker-compose-extra.yml
  birdhouse/components/canarie-api/docker_configuration.py.template
  birdhouse/components/cowbird/docker-compose-extra.yml
  birdhouse/components/finch/docker-compose-extra.yml
  birdhouse/components/geoserver/docker-compose-extra.yml
  birdhouse/components/hummingbird/docker-compose-extra.yml
  birdhouse/components/jupyterhub/docker-compose-extra.yml
  birdhouse/components/magpie/docker-compose-extra.yml
  birdhouse/components/mongodb/docker-compose-extra.yml
  birdhouse/components/monitoring/docker-compose-extra.yml
  birdhouse/components/postgres/docker-compose-extra.yml
  birdhouse/components/proxy/docker-compose-extra.yml
  birdhouse/components/raven/docker-compose-extra.yml
  birdhouse/components/stac/docker-compose-extra.yml
  birdhouse/components/thredds/docker-compose-extra.yml
  birdhouse/components/twitcher/docker-compose-extra.yml
  birdhouse/components/weaver/docker-compose-extra.yml
  birdhouse/components/weaver/post-docker-compose-up
  birdhouse/deprecated-components/wps-healthchecks/config/catalog/docker-compose-extra.yml
  birdhouse/deprecated-components/wps-healthchecks/config/flyingpigeon/docker-compose-extra.yml
  birdhouse/deprecated-components/wps-healthchecks/config/malleefowl/docker-compose-extra.yml
  birdhouse/optional-components/local-dev-test/pre-docker-compose-up.include
  birdhouse/optional-components/prometheus-log-parser/docker-compose-extra.yml
  birdhouse/optional-components/wps-healthchecks/config/finch/docker-compose-extra.yml
  birdhouse/optional-components/wps-healthchecks/config/hummingbird/docker-compose-extra.yml
  birdhouse/optional-components/wps-healthchecks/config/raven/docker-compose-extra.yml
  birdhouse/scripts/logging.include.sh
  docs/source/conf.py
  pytest.ini
  tests/conftest.py
  tests/fixtures/echo_args.sh
  tests/fixtures/log_examples.sh
  tests/fixtures/printenv.sh
  tests/integration/conftest.py
  tests/integration/test_magpie.py
  tests/test.env
  tests/unit/conftest.py
  tests/unit/test_cli.py
  tests/unit/test_deployment.py
  tests/unit/test_read_configs_include.py
Labels: documentation, ci/operations, ci/deployment, component/STAC, component/THREDDS, component/magpie, component/twitcher, component/weaver, component/cowbird, component/jupyterhub, component/geoserver, ci/tests, feature/WPS

#489 update weaver 6.1.0
  .bumpversion.cfg
  CHANGES.md
  Makefile
  README.rst
  RELEASE.txt
  birdhouse/components/README.rst
  birdhouse/components/canarie-api/docker_configuration.py.template
  birdhouse/components/weaver/config/magpie/config.yml.template
  birdhouse/components/weaver/config/proxy/conf.extra-service.d/weaver.conf.template
  birdhouse/components/weaver/default.env
  birdhouse/components/weaver/docker-compose-extra.yml
  docs/source/conf.py
Labels: documentation, ci/operations, component/magpie, component/weaver, feature/WPS

#494 fix invalid weaver healthchecks
  .bumpversion.cfg
  CHANGES.md
  Makefile
  README.rst
  RELEASE.txt
  birdhouse/components/canarie-api/docker_configuration.py.template
  birdhouse/components/weaver/config/canarie-api/canarie_api_monitoring.py.template
  birdhouse/components/weaver/docker-compose-extra.yml
  docs/source/conf.py
Labels: documentation, ci/operations, component/weaver, feature/WPS

#495 Fix missing delayed eval and allow certbot image override
  .bumpversion.cfg
  CHANGES.md
  Makefile
  README.rst
  RELEASE.txt
  birdhouse/components/canarie-api/docker_configuration.py.template
  birdhouse/default.env
  birdhouse/deployment/certbotwrapper
  birdhouse/optional-components/generic_bird/default.env
  docs/source/conf.py
Labels: documentation, ci/operations, ci/deployment
