Repository bird-house/birdhouse-deploy, pull requests merged in 2025-03, with the labels that each got.

#501 Update STAC app version to 1.0.1
  .bumpversion.cfg
  CHANGES.md
  Makefile
  README.rst
  RELEASE.txt
  birdhouse/components/canarie-api/docker_configuration.py.template
  birdhouse/components/stac/default.env
  docs/source/conf.py
Labels: documentation, ci/operations, component/STAC

#500 deprecate docker-compose default command
  CHANGES.md
  birdhouse/birdhouse-compose.sh
  birdhouse/components/scheduler/default.env
  birdhouse/default.env
  birdhouse/env.local.example
  birdhouse/optional-components/local-dev-test/pre-docker-compose-up.include
Labels: documentation, ci/deployment

#506 remove deprecated catalog crawler code
  CHANGES.md
  birdhouse/birdhouse-compose.sh
Labels: documentation, ci/deployment

#511 Patch the header that displays weirdly in the generated docs
  birdhouse/README.rst
Labels: documentation

#513 remove `$` from logged error variable
  birdhouse/read-configs.include.sh
Labels: ci/deployment

#509 improved template file generation
  CHANGES.md
  birdhouse/birdhouse-compose.sh
  birdhouse/default.env
Labels: documentation, ci/deployment

#515 birdhouse-compose.sh: fix regression with restart command
  .bumpversion.cfg
  CHANGES.md
  Makefile
  README.rst
  RELEASE.txt
  birdhouse/birdhouse-compose.sh
  birdhouse/components/canarie-api/docker_configuration.py.template
  docs/source/conf.py
Labels: documentation, ci/operations, ci/deployment

#520 Fix bug where generated docker compose file is appended to not written
  CHANGES.md
  birdhouse/optional-components/local-dev-test/pre-docker-compose-up.include
Labels: documentation

#522 Make sure that authentication routes use the correct scheme
  .bumpversion.cfg
  CHANGES.md
  Makefile
  README.rst
  RELEASE.txt
  birdhouse/components/canarie-api/docker_configuration.py.template
  birdhouse/optional-components/prometheus-longterm-metrics/config/proxy/conf.extra-service.d/monitoring.conf.template
  birdhouse/optional-components/thanos/config/proxy/conf.extra-service.d/monitoring.conf.template
  docs/source/conf.py
Labels: documentation, ci/operations
