Repository bird-house/birdhouse-deploy, pull requests merged in 2025-06, with the labels that each got.

#519 Stop build when a build step fails
  .bumpversion.cfg
  CHANGES.md
  Makefile
  README.rst
  RELEASE.txt
  birdhouse/birdhouse-compose.sh
  birdhouse/components/canarie-api/docker_configuration.py.template
  birdhouse/components/jupyterhub/pre-docker-compose-up
  birdhouse/components/weaver/post-docker-compose-up
  birdhouse/read-configs.include.sh
  birdhouse/scripts/error-handling.include.sh
  birdhouse/scripts/get-services-json.include.sh
  birdhouse/scripts/logging.include.sh
  docs/source/conf.py
Labels: documentation, ci/operations, ci/deployment, component/weaver, component/jupyterhub, feature/node-registry, feature/WPS

#545 Fix issue where the current environment is printed to stdout if no shell exec flags are set.
  CHANGES.md
  birdhouse/scripts/error-handling.include.sh
Labels: documentation, ci/deployment

#542 Add prometheus rules for long-term metrics
  CHANGES.md
  birdhouse/optional-components/prometheus-longterm-rules/config/monitoring/prometheus.rules
Labels: documentation

#551 Fix typo in prometheus-longterm-rules and allow to set Prometheus log level
  .bumpversion.cfg
  CHANGES.md
  Makefile
  README.rst
  RELEASE.txt
  birdhouse/components/canarie-api/docker_configuration.py.template
  birdhouse/components/monitoring/default.env
  birdhouse/components/monitoring/docker-compose-extra.yml
  birdhouse/optional-components/prometheus-longterm-metrics/default.env
  birdhouse/optional-components/prometheus-longterm-metrics/docker-compose-extra.yml
  birdhouse/optional-components/prometheus-longterm-rules/config/monitoring/prometheus.rules
  docs/source/conf.py
Labels: documentation, ci/operations

#549 update restic docs
  CHANGES.md
  birdhouse/README.rst
  birdhouse/env.local.example
  birdhouse/scripts/test-restic-keypair.sh
Labels: documentation, ci/deployment

#552 Fix a few bugs in the prometheus log exporter
  CHANGES.md
  birdhouse/optional-components/prometheus-log-parser/config/thredds/prometheus-log-exporter.py
  tests/requirements.txt
  tests/unit/conftest.py
  tests/unit/test_prometheus_log_exporter.py
Labels: documentation, ci/operations, component/THREDDS, ci/tests

#555 avoid tput warnings if terminal is undefined
  .bumpversion.cfg
  CHANGES.md
  Makefile
  README.rst
  RELEASE.txt
  birdhouse/components/canarie-api/docker_configuration.py.template
  birdhouse/components/weaver/post-docker-compose-up
  birdhouse/scripts/logging.include.sh
  docs/source/conf.py
  tests/unit/test_cli.py
  tests/unit/test_logging.py
  tests/unit/test_read_configs_include.py
Labels: documentation, ci/operations, ci/deployment, component/weaver, ci/tests, feature/WPS
