Repository bird-house/birdhouse-deploy, pull requests merged in 2025-05, with the labels that each got.

#527 Log multiple lines, log tests, and logging bug fixes
  .bumpversion.cfg
  CHANGES.md
  Makefile
  README.rst
  RELEASE.txt
  birdhouse/components/canarie-api/docker_configuration.py.template
  birdhouse/scripts/logging.include.sh
  docs/source/conf.py
  tests/unit/test_cli.py
  tests/unit/test_logging.py
Labels: documentation, ci/operations, ci/deployment, ci/tests

#531 fix makefile bin/birdhouse path resolution
  .bumpversion.cfg
  CHANGES.md
  Makefile
  README.rst
  RELEASE.txt
  birdhouse/components/canarie-api/docker_configuration.py.template
  docs/source/conf.py
Labels: documentation, ci/operations

#533 Update `stac` service to use `crim-ca/stac-app:1.1.0` image
  .bumpversion.cfg
  CHANGES.md
  Makefile
  README.rst
  RELEASE.txt
  birdhouse/components/canarie-api/docker_configuration.py.template
  birdhouse/components/stac/default.env
  birdhouse/components/twitcher/config/proxy/conf.extra-service.d/twitcher.conf.template
  docs/source/conf.py
Labels: documentation, ci/operations, component/STAC, component/twitcher

#530 Script `extract-jupyter-users-from-magpie-db`: allow to customize the query
  .bumpversion.cfg
  CHANGES.md
  Makefile
  README.rst
  RELEASE.txt
  birdhouse/components/canarie-api/docker_configuration.py.template
  birdhouse/scripts/extract-jupyter-users-from-magpie-db
  docs/source/conf.py
Labels: documentation, ci/operations, ci/deployment
